*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container_panel{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
	background: #f2424f;
}
.section{
	height:auto;
	width: 40%;
	padding-bottom: 20px;
	background: lightblue;
}
@media only screen and (max-width: 600px) {
.section{
	height:auto;
	width: 95%;
	}
} 